<?xml version="1.0" encoding="utf-8"?>
<environments xmlns="urn:umbracodeploy-environments" id="8da1d7c2-4e40-42c9-a1a9-0160333051bf" name="admins Inventive Gorilla" alias="admins-inventive-gorilla" type="Starter" color="" url="https://www.s1.umbraco.io/project/admins-inventive-gorilla">
  <environment type="live" name="Live" id="baed515b-78a3-4ee7-89ff-0a64e6e2d4cb">https://admins-inventive-gorilla.s1.umbraco.io</environment>
</environments>